
<ion-content>
 <ion-slides pager="true" [options]="slideOpt">

  <ion-slide>
  <ion-icon name="close"></ion-icon>
   <h1> Slide 1</h1>
   <h2>Sub title</h2>
   <ion-icon name="pause-circle-outline"></ion-icon>
   <img src="assets/images/slide1.jpg"/>
   <p>Descripcion de esta imagen</p>
  </ion-slide>

  <ion-slide>
   <ion-icon name="close"></ion-icon>
   <h1> Slide 2</h1>
   <h2>Sub title</h2>
   <ion-icon name="play-circle-outline"></ion-icon>
   <img src="assets/images/slide2.png"/>
   <p>Descripcion de esta imagen</p>
  </ion-slide>

  <ion-slide>
    <ion-icon name="close"></ion-icon>
    <h1> Slide 3</h1>
    <h2>Sub title</h2>
    <ion-icon name="musical-notes-outline"></ion-icon>
    <img src="assets/images/slide3.jpeg"/>
    <p>Descripcion de esta imagen</p>
  </ion-slide>

  <ion-slide>
    <ion-icon name="close"></ion-icon>
    <h1> Slide 4</h1>
    <h2>Sub title</h2>
    <ion-icon name="pause-outline"></ion-icon>
    <img src="assets/images/slide4.jpg"/>
    <p>Descripcion de esta imagen</p>
   </ion-slide>

 </ion-slides>
</ion-content>
