ion-title {
    background-color: #9309f6c0;
    color: rgb(255,255,204);
    padding:22px 22px 22px 22px;
    border-style: solid;
    border-color: rgb(247, 6, 6);
  }

form {
    background-color: #9309f6c0;
    padding:22px 22px 22px 22px;
    border-style: solid;
    border-color: rgb(247, 6, 6);
    height: 100%;
  }

ion-footer{
    background-color: #9309f6c0;
    color: rgb(255,255,204);
    padding:22px 22px 22px 22px;
    border-style: solid;
    border-color: rgb(247, 6, 6);
}

.mensaje{
  background-color: red;
  color:yellow;
  text-transform: uppercase; //utilidades de css
  text-align: center; //utilidades de cc
}